body {
  font-family: 'Nunito Sans Variable', sans-serif !important;
}

#trailer-scroller::-webkit-scrollbar {
  height: 15px;
}

#trailer-scroller::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 4px solid transparent;
  border-radius: 20px;
  background-clip: padding-box;
}